<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="게시판"/>
    <meta property="og:description" content="영상 관련 코멘트 부탁합니다!"/>
    <meta property="og:image"
          content="https://external-gmp1-1.xx.fbcdn.net/safe_image.php?d=AQGM5j9K5hZ1l46e&w=480&h=250&url=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb5-OH8awzRg%2Fhqdefault.jpg&cfs=1&sx=0&sy=36&sw=480&sh=250&ext=jpg&_nc_oe=6fd18&_nc_sid=632586&ccb=3-5&_nc_hash=AQFamRQhdgULDbH8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="basic.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>초미니홈피 - 팬명록</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://external-gmp1-1.xx.fbcdn.net/safe_image.php?d=AQGM5j9K5hZ1l46e&w=480&h=250&url=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb5-OH8awzRg%2Fhqdefault.jpg&cfs=1&sx=0&sy=36&sw=480&sh=250&ext=jpg&_nc_oe=6fd18&_nc_sid=632586&ccb=3-5&_nc_hash=AQFamRQhdgULDbH8');
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .mypost > button {
            margin-top: 15px;
        }

        .section1 {
            display: flex;
            justify-content: space-between
        }

    </style>
    <script>

        $(document).ready(function () {
            console.log("index js 시작")
            getBoard();
            $('.section2').hide();
        });

        function writeBoard() {
            let subject = $('#subject').val();
            let username = $('#username').val();
            let password = $('#password').val();
            let contents = $('#contents').val();

            let data = {
                'subject': subject,
                'username': username,
                'password': password,
                'contents': contents
            };


            $.ajax({
                type: "POST",
                url: "/api/boards",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지가 성공적으로 작성되었습니다.');
                    window.location.reload();
                }
            });
        }

        function getBoard() {
            console.log("getBoard js 시작")
            $('.mypost2').empty();
            $.ajax({
                type: "GET",
                url: "/api/boards",
                data: {},
                success: function (response) {
                    console.log(response.length)
                    for (let i = 0; i < response.length; i++) {
                        let board = response[i];
                        let subject = board['subject'];
                        let username = board['username'];
                        let contents = board['contents'];
                        let id = board['id'];
                        addHTML(subject, username, contents, id);
                    }
                }
            })
        }

        function addHTML(subject, username, contents, id) {
            let tempHtml = makeBoard(subject, username, contents, id);
            $('.mypost').append(tempHtml);
        }

        function makeBoard(subject, username, contents, id) {
            return `<hr>
                    <div class="mypost2 mt-3 section1${id}">
                        <div class="form-floating mb-3 section1 ">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject-${id}" placeholder="url" value="${subject}">
                                <label for="subject">제목</label>
                            </div>
                            <div class="form-floating" style="margin: 0 10px">
                                <input type="text" class="form-control" id="username-${id}" placeholder="url" value="${username}">
                                <label for="username">이름</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="password-${id}" placeholder="url">
                                <label for="password">비밀번호</label>
                            </div>
                            <div class="form-floating">
                                <button type="button" class="btn btn-dark" onclick="showBoard(${id})">글보기</button>
                            </div>
                        </div>
                    </div>`;
        }



        function showBoard(id){
            $.ajax({
                type: "GET",
                url: `/api/boards/board/${id}`,
                data: {},
                success: function (response) {
                    let contents = response['contents'];
                    let createdAt = response['createdAt'];
                    let tempHtml =  `<div id="section2-${id}" >
                                        <div>
                                            <input type="hidden" id="${id}" placeholder="url" value="${id}">
                                        </div>
                                        <div className="form-floating">
                                                <textarea className="form-control" placeholder="Leave a comment here"
                                                          id="contents-${id}"
                                                          style="height: 100px">${contents}</textarea>
                                            <label htmlFor="contents">내용</label>
                                        </div>
                                        <div className="form-floating mt-3">
                                            <div>
                                                <img id="${id}-delete" className="icon-delete" src="images/delete.png" alt=""
                                                     onClick="deleteOne('${id}')">
                                                    <img id="${id}-submit" className="icon-end-edit" src="images/done.png" alt=""
                                                         onClick="submitEdit('${id}')">
                                                        <button type="button" className="btn btn-dark" onClick="hideEdit(${id})">창닫기
                                                        </button>
                                            </div>
                                            <div>
                                                <label id="time-${id}">${createdAt}</label>
                                            </div>
                                        </div>
                                    </div>`;
                    $(`.section1${id}`).append(tempHtml);
                }
            });
        }

        function hideEdit(id){
            $(`#section2-${id}`).remove();
        }

        function submitEdit(id) {
            let subject = $(`#subject-${id}`).val()
            let username = $(`#username-${id}`).val()
            let contents = $(`#contents-${id}`).val()
            let password = $(`#password-${id}`).val()

            let data = {'subject': subject, 'username': username, 'contents': contents, 'password': password};


            $.ajax({
                type: "PUT",
                url: `/api/boards/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert(response);
                    window.location.reload();
                }
            });
        }

        function deleteOne(id) {
            let password = $(`#password-${id}`).val()
            let data = {'password': password};
            $.ajax({
                type: "DELETE",
                url: `/api/boards/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert(response);
                    window.location.reload();
                }
            })
        }


    </script>
</head>
<body>
<!--============ 소개 =============-->
<div class="mypic">
    <h1>항해99 Min's Board</h1>
    <div id="header-title-login-user">
        <span class="username"></span> 님 접속하셨습니다
    </div>
    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
    <a href="/user/loginView">로그인</a>
</div>
<!--============ 작성 란 =============-->
<div class="mypost">
    <div class="form-floating mb-3 section1">
        <div class="form-floating">
            <input type="text" class="form-control" id="subject" placeholder="url">
            <label for="subject">제목</label>
        </div>
        <div class="form-floating" style="margin: 0 10px">
            <input type="text" class="form-control" id="username" placeholder="url">
            <label for="username">이름</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="password" placeholder="url">
            <label for="password">비밀번호</label>
        </div>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="contents"
                  style="height: 100px"></textarea>
        <label for="contents">내용</label>
    </div>
    <div class="form-floating mt-3 section1">
        <button onclick="writeBoard()" type="button" class="btn btn-dark">작성하기</button>
    </div>
</div>
<!--==============게시 및 수정란 ===========-->

</body>
</html>

